//LAYOUT

/* clearfix */
@mixin clearfix {
  content: '';
  display: block;
  clear: both;
}
.clearfix:after{
  @include clearfix;
}
/* Columns */
@mixin full-width{
  width:100%;
  float:left;
}

@mixin one-quarter{
  width: $quarter;
  float:left;
}

@mixin one-third{
  width: $third;
  float:left;
}

@mixin half{
  width: $half;
  float:left;
}

@mixin five-twelfths{
  width: $five-twelfths;
  float:left;
}

@mixin two-thirds{
  width: $two-thirds;
  float:left;
}

@mixin seven-twelfths{
  width: $seven-twelfths;
  float:left;
}

@mixin three-quarters{
  width: $three-quarters;
  float:left;
}


@mixin maintain-ratio($ratio: 1 0.8484848) {
  $width: 330px;
  $height: percentage(nth($ratio, 2) / nth($ratio, 1));
  
  width: $width;
  height: $height;
}

/* ALIGNMENT */

@mixin vertical-center{
  display: table-cell;
  vertical-align: middle;
}

/* BORDERS */

@mixin input-border{
  border: solid 1px $grey-lt;
  border-radius: 2px;
}

@mixin bottom-border{
  border-bottom: 2px solid $cloud !important;
}


/* COLORS */

@mixin scheme-slate{
  background-color: $slate-dk;
  color: $blue-grey-lt;
}

@mixin play-circle-hover{
  .play-circle {
     background: url("../img/play-circle-hover.svg") no-repeat 50% 50% / 100%; 
  }
  .pause-circle {
    background: url("../img/pause-circle-hover.svg") no-repeat 50% 50% / 100%; 
  }
}

@mixin pause-circle-hover{
/*  .pause-circle {
    background: url("../img/pause-circle-hover.svg") no-repeat 50% 50% / 100%; 
  }
*/
}

@mixin play-circle-size{
  width: 4em;
  height: 4em;
}

@mixin play-circle-bigger{
  width: 4em;
  height: 4em;
}

@mixin play-circle-smaller{
  height: 3em;
  width: 3em;
}


/* Shapes */

@mixin circular($diameter: 100px){
  border-radius:50%;
  width: $diameter;
  height: $diameter;
}

/* BUTTONS */
/*
@mixin filled{
  padding: 15px 40px;
  background-color: $button-color;
  border: 1px solid $button-color;
  color:white;
  &:hover{
    background-color: $button-dk;
    color: white;
  }  
}*/

/* FONT STYLES */

@mixin light-grey{
  color: $blue-grey;
  font-family: $heading-lt;
  font-size: 2.6em;
}