/* Articles
-----------------------------------*/
.article{
  padding: 1rem 5%;
}

.article-details{
  font-family: $heading-lt;
  font-size: 1.4em;
  color: $blue-grey-lt;
  & > * {
    display:inline-block;
  }
}

.article-details span{
  margin-right: $thin;
}

.article h1{
  font-family: $heading-md;
}

.article .intro{
  font-size: $medium;
  font-style: italic;
  padding: $thin 0;
}

.article p{
  font-size: $sm-medium;
  margin-bottom: $fairly-thick;
}

.article img{
  width: 100%;
  height: auto;
}
.article .video{
  position: relative;
  margin-bottom: $fairly-thick;
}


.article .video .play-circle{
  position: absolute;
  top: 0;
  background-size: 35%;
  width: 100%;
  height: 100%;
  cursor:pointer;
}

.article .video:hover{
  @include play-circle-hover;
  @include pause-circle-hover;
  .play-circle{
    background-size: 35%;
  }
}

.quote{
  position: relative;
  width: 100%;
  float:left;
  font-size: 1.1em;
  margin-bottom: 2em;
  text-align: center;
}

.quote span{
  font-family: $heading-rg;
  color: $clay-blue;
  font-size: 1.4em;
}

.article .quote i{
  display: block;
  margin: 0 auto 0.5em;
  height: 3em;
  width: 3em;
  background: url("../img/twitter.png") no-repeat 50% center / 100% auto;
  background-size: 100%;
}

/* Related articles
-----------------------------------*/
.related{
  width: 100%;
  background-color: $cloud;
  margin: 1em 0;
}

.related h4 {
  color: $slate;
  font-family: $heading-md;
  font-size: 2em;
}

/* Comments
---------------------------------- */
.comments{
  padding: 0 5% 1em;
}

.comments h3{
  color: $blue-grey-lt;
  font-family: $heading-lt;
  text-align: center;
  text-transform: none;
}

.comments img {
  @include circular;
  width: 40%;
  margin: 0.5em 0 0.5em 30%;
  height: auto;
}

.comments span{
  color: $blue-grey-lt;
  font-family: $main-font-semi-bold;
}

.comments textarea{
  height: 12em;
  margin: 0.5em 0;
}

.comment{
  overflow: auto;
  clear:both;
  padding-top: $fairly-thick;
  margin-top: $thin;
  border-top: $separator;
}

.comment .details {
  clear:both;
  width: 100%;
  margin-bottom: 1em;
  font-size: 1.1em;
  text-align: center;
}
