/* Trainer profile
-----------------------------------*/
.profile{
	padding: 2em 7%;
	text-align: center;
	color: $blue-grey;
	& p{
		color: inherit;
	}
	& h2{
		margin-left: 0.5em;
		font-family: $heading-lt;
		color: white;
		display: inline-block;
		line-height: 3;
	}
	& h3{
		font-size: 2.5em;
		line-height: 2;
	}
	& h4{
	  color: $blue-grey-lt;
	  height: $bar;
	  padding: 10%;
	}
	& .avatar {
	  height: auto;
	  width: 40%;
	  border-radius: 50%;
	}
	& .details{
		padding: $fairly-thick 10%;
		color: white;
		font-family: $heading-lt;
		position: relative;
	}
	& .name{
		font-size: 2.2em;
	}
	& .button{
		padding: 0.75em 3em;
	}
}

/* Social squares
-----------------------------------*/
.social-squares{
	height: 12em;
	margin-bottom: 1em;
	border-top: 1px solid $slate;
	& > a{
		@include half;
		height: 6em;
		border-right: 1px solid $slate;
		border-bottom: 1px solid $slate;
	}
}

@each $platform in $social-media{
  .social-squares .#{$platform} {
    background: $slate-dk url("../img/#{$platform}-grey.png") no-repeat scroll 50% center / auto 60%;
    &:hover{
      background: $slate-dk url("../img/#{$platform}.png") no-repeat scroll 50% center / auto 60%;
	}
  }
}

/* Before & after
-----------------------------------*/
.transformation{
	& span{
		position: absolute;
		top: -0.7em;
		right: 5%;
		font-size: 4em;
		font-family: $heading-md;
	}
	&.before{
		color: $blue-grey-lt;
	}
}

/* Directory search
-----------------------------------*/
.search-block{
	background-color: $ghost-blue;
	& h2{
		color: $slate-lt;
	}
	& form{
		padding: 0 10%;
	}
}

/* Search Results
-----------------------------------*/
.directory-results{
	& h3{
		color: $blue-grey;
		font-family: $heading-rg;
		font-size: 2.5em;
	}
}

.directory-results .result{
	padding: 0;
	& > img{
		width: 100%;
		height: auto;
	}
	& .text{
		padding: 0 5% 2em;
	}
}

.quantity{
	display: inline-block;
	font-family: $heading-bold;
}

.result-header{
	margin-bottom: 0.5em;
	font-size: 2em;
	font-family: $heading-md;
	text-transform: uppercase;
	line-height: 2;
	& .name{
		float: left;
		width: 75%;
		color: $slate-lt;
	}
	& .distance{
		float: right;
		width: 25%;
		text-align: right;
	}
}

/* Floating info box on map
-----------------------------------*/
.map{
	position: relative;
	& img{
		width: 100%;
		height: 15em;
	}
}

.map .floater{
	position: absolute;
	left: 10%;
	top: 10%;
	width: 80%;
	background: White url('../img/map-pin.png') no-repeat;
	background-position: 25px center;
	box-shadow: 1px 1px 1px 1px $blue-grey-lt;
}

//TRIANGLE
.floater:after {
  content: "";
	position: absolute;
	bottom: -6px;
	left: 20%;
	border-width: 10px 10px 0px 10px;
	border-style: solid;
	border-color: white transparent;
	//Reduce damage in FF3
	display: block;
	width: 0px;
}

.map .floater > div {
	padding: $thin 25px $thin 90px; 
}

.floater{
	color: $blue-grey-lt;
	& .street{
		font-family: $main-font-semi-bold;
		font-size: $article-text;
	}
	& .city{
		font-family: $main-font-lt;
		font-size: $article-text;
	}
	& .contact-details{
		padding-top: $extra-thin;
		font-size: $small;
	}
}