/* Trainer profile
-----------------------------------*/
.profile{
	padding: 2em 7%;
	text-align: center;
	color: $blue-grey;
	& p{
		color: inherit;
	}
	& h2{
		margin-left: 0.5em;
		font-family: $heading-lt;
		color: white;
		display: inline-block;
		line-height: 3;
	}
	& h3{
		font-size: 2.5em;
		line-height: 2;
	}
	& h4{
	  color: $blue-grey-lt;
	  height: $bar;
	  padding: 10%;
	}
	& .avatar {
	  height: auto;
	  width: 40%;
	  border-radius: 50%;
	}
	& .details{
		padding: $fairly-thick 10%;
		color: white;
		font-family: $heading-lt;
		position: relative;
	}
	& .name{
		font-size: 2.2em;
	}
	& .button{
		padding: 0.75em 3em;
	}
}


.social-squares{
	border-top: 1px solid $slate;
	& > div{
		@include half;
		height: 6em;
		border-right: 1px solid $slate;
		border-bottom: 1px solid $slate;
	}
}

@each $platform in $social-media{
  .social-squares .#{$platform} {
    background: $slate-dk url("../img/#{$platform}-grey.png") no-repeat scroll 50% center / auto 60%;
    &:hover{
      background: $slate-dk url("../img/#{$platform}.png") no-repeat scroll 50% center / auto 60%;
	}
  }
}
