/* Directory Search
-----------------------------------*/
.directory-search{
	background-color: $slate-lt;
	color: $blue-grey;
	h2{
		font-family: $heading-rg;
		color: $clay-blue;
		font-size: 1.9em;
		text-transform: none;
	}
}


.directory-search form{
	& .wrapper-dropdown-5, input[type="text"], {
		background-color: rgba(#FFFFFF, 0.05);
		color: $clay-blue;
		border-color: $blue-grey;
		margin: 0.75em auto;
	}
	label{
		color: $blue-grey-lt;
	}
	& input[type="submit"]{
		float: right;
		margin: 2.5em 4em 3em;
		color: $clay-blue;
		border-color: $blue-grey;
		width: 10em;
	}
	& .section-header{
		margin-bottom: -2em;
	}
	.form-section label{
		padding: 1em 0 0.5em; 
	}
	.checkbox{
		margin-left: 5%;
		overflow: auto;
	}
	.form-section .checkboxes-label{
		padding: 0;  //If in own form-section
	}
	.checkbox label{
		padding: 0 0 0 1.5em;
		min-height: 0;
	}
	.sex-select{
		float: right;
		margin-top: -2em;
	}
	.image-select.sex + label{
		margin: 0.5em 0;
		padding: 0;
		height: 3.2em;
	}
	.image-select.sex:checked + label {
		border-color: $blue-grey;
		& .male{
			background: url('../img/male-white.svg') no-repeat 50% center;
		}
		& .female{
			background: url('../img/female-white.svg') no-repeat 50% center;
		}
		& .male, .female{
			height: 3em;
			background-size: auto 80%;
		}
	}
	.male, .female{
		height: 3em;
		background-size: auto 80%;
	}
	.wizard{
		width: 96%;
		background: transparent url("../img/wizard-line-dk.svg") repeat scroll 0% 0%;
		& .step-circle{
			background: url('../img/wizard-step-dk.svg') no-repeat 50% 0;
		}
		& .step-name{
			color: $blue-grey-lt;
		}
	}
}

/* Trainer profile
-----------------------------------*/
.profile{
	padding: 2em 7%;
	text-align: center;
	color: $blue-grey;
	& p{
		color: inherit;
	}
	& h2{
		margin-left: 0.5em;
		font-family: $heading-lt;
		color: white;
		display: inline-block;
		line-height: 3;
	}
	& h3{
		font-size: 2.5em;
		line-height: 2;
	}
	& h4{
	  color: $blue-grey-lt;
	  height: $bar;
	  padding: 10%;
	}
	& .avatar {
	  height: auto;
	  width: 40%;
	  border-radius: 50%;
	}
	& .details{
		padding: $fairly-thick 10%;
		color: white;
		font-family: $heading-lt;
		position: relative;
	}
	& .name{
		font-size: 2.2em;
	}
	& .button{
		padding: 0.75em 3em;
	}
	& .edit{
		font-family: $main-font-semi-bold;
		font-size: 1.4em;
		line-height: 4;
	}
}

/* Social squares
-----------------------------------*/
.social-squares{
	height: 12em;
	margin-bottom: 1em;
	border-top: 1px solid $slate;
	& > a{
		@include half;
		height: 6em;
		border-right: 1px solid $slate;
		border-bottom: 1px solid $slate;
	}
}

@each $platform in $social-media{
  .social-squares .#{$platform} {
    background: $slate-dk url("../img/#{$platform}-grey.png") no-repeat scroll 50% center / auto 60%;
    &:hover{
      background: $slate-dk url("../img/#{$platform}.png") no-repeat scroll 50% center / auto 60%;
	}
  }
}

/* Before & after
-----------------------------------*/
.transformation{
	& span{
		position: absolute;
		top: -0.7em;
		right: 5%;
		font-size: 4em;
		font-family: $heading-md;
	}
	&.before{
		color: $blue-grey-lt;
	}
}

/* Directory search
-----------------------------------*/
.search-block{
	background-color: $ghost-blue;
	& h2{
		color: $slate-lt;
	}
	& form{
		padding: 0 10%;
	}
}

/* Search Results
-----------------------------------*/
.directory-results{
	& h3{
		color: $blue-grey;
		font-family: $heading-rg;
		font-size: 2.5em;
	}
}

.directory-results .result{
	& .text{
		padding: 0 5% 2em;
	}
	& .circle{
		margin-top: 1em;
	}
	& .text{
		padding: 0;
	}
}

.directory-results.wide{
	padding: 0;
	& img{
		width: 100%;
		height: auto;
	}
	& .text{
		padding: 0 5% 2em;
	}
}

//Results in circle list format
.circle-list{
	& .distance{
		position: absolute;
		text-align: right;
		right: 0;
		top: 0;
		font-size: 1.7em;
		font-family: $heading-lt;
		letter-spacing: -1px;
		text-transform: uppercase;
		line-height: 1.4;
	}
	& .section-header{
		overflow: auto;
	}
	& .wrapper-dropdown-5.smaller{
		float: left;
		width: 47%;
		margin: 1em 1.5%;
		color: $blue-grey;
		text-transform: none;
		font-size: 1em;
		padding: 0.6em 2.5em 0.6em 1.2em;
		background: url("../img/arrowthin.svg") no-repeat 88%/auto 1em;
	}
}

.circle-list .booking{
	position: relative;
	padding: 1.5em 0 0.5em;
	overflow: auto;
	& a{
		float: left;
		width: 50%;
		padding-left: 2%;
		padding-right: 2%;
		text-align: center;
		margin: 0;
		font-size: 0.95em;
	}
	& .read-more{
		padding: 0.7em 2%;
	}
}

.quantity{
	display: inline-block;
	font-family: $heading-bold;
}

.result-header{
	margin-bottom: 0.5em;
	font-size: 2em;
	font-family: $heading-md;
	text-transform: uppercase;
	line-height: 2;
	& .name{
		float: left;
		width: 75%;
		color: $slate-lt;
	}
	& .distance{
		float: right;
		width: 25%;
		text-align: right;
	}
}

/* Floating info box on map
-----------------------------------*/
.map{
	position: relative;
	& img{
		width: 100%;
		height: 15em;
	}
}

.map .floater{
	position: absolute;
	left: 10%;
	top: 10%;
	width: 80%;
	background: White url('../img/map-pin.png') no-repeat;
	background-position: 25px center;
	box-shadow: 1px 1px 1px 1px $blue-grey-lt;
}

@media (max-width: $mq-l){
	.map .floater{
		font-size: 0.8em;
		background-position: 18px center !important;
		& > div{
			padding: 1em 25px 1em 75px !important;
		}
	}
}

//TRIANGLE
.floater:after {
  content: "";
	position: absolute;
	bottom: -6px;
	left: 20%;
	border-width: 10px 10px 0px 10px;
	border-style: solid;
	border-color: white transparent;
	//Reduce damage in FF3
	display: block;
	width: 0px;
}

.map .floater > div {
	padding: $thin 25px $thin 90px; 
}

.floater{
	color: $blue-grey-lt;
	& .street{
		font-family: $main-font-semi-bold;
		font-size: $article-text;
	}
	& .city{
		font-family: $main-font-lt;
		font-size: $article-text;
	}
	& .contact-details{
		padding-top: $extra-thin;
		font-size: $small;
	}
}

/* User profile
-----------------------------------*/
/*

.user-header{
	.avatar{
		width: 50%;
		display: block;
		margin: auto;
	}
}
*/
.shady{
	@include circular(12em);
	position: relative;
	display: block;
	margin: auto;
	cursor: pointer; 
	overflow: hidden;
	margin-bottom: 1em;
}

.shady > div{
	@include circular(12em);
	position:absolute;
	top:0;
	display: table;
}

.shady img{
	width: 100%;
	height: auto;
}

.shady span{
	@include vertical-center;	
	color: white;
	text-align: center;
	font-size: 1.2em;
}

.profile .credits{
	font-family: $heading-lt;
	color: white;
	font-size: 2.5em;
}

.user-header{
	h3, h2{
		margin: 0;
		line-height: 1;
	}
	h2{
		line-height: 1.5;
	}
	h3{
		font-family: $heading-lt;
	}
}

.profile.form-section{
	& button{
		margin: 1em 0 2em;
		padding: 1em 2.5em;
	}
}

.avatars{
	padding: 2em 0;
	background-color: $ghost-blue;
	& .avatar{
		width: 20%;
		margin-right: 1em;
	}
	& .circle{
		width: 100%;
		height: auto;
		margin-bottom: 0.5em;
	}
	& a{
		display: block;
		width: 90%;
		margin: 0.5em auto;
		font-family: $main-font-semi-bold;
		color: $blue-grey;
		text-align: center;
		line-height: 1.5;
	}
}