.registration{
	h3{
		font-family: $heading-rg;
		font-size: 2em;
	}
	.wrapper-dropdown-5.bigger{
		margin: 0 0 0.5em 0;
	}
}

form{
	text-align: center;
}

.form-section label{
	width: 100%;
	display: block;
	text-align: center;
	padding: 1em 0;
}

.body-image{
	width: 75%;
	border: 1px solid $grey-lter;
	overflow: auto;
	margin-right: 5px;
	& img{
		width: 100%;
		height: auto;
	}
}