/* Tried & Tested
-----------------------------------*/
.tried-n-tested{
	background-color: $cloud;
	&.grid > div{
		height: 560px;
	}
}

.tested-item{
  position: relative;
  width: 100%;
  font-size:1.2em;
  & img{
    width: 100%;
    height: auto;
  }
}

.rating-space{
	position: relative;
	height: 150px;
	display: block;
}

.test-rating{
	font-family: $heading-bold;
	right: 5%;
	font-size: 7em;
  top: -0.75em;
	position: absolute;
}

@media (min-width: $mq-xl){
	.tested-items h4{
		max-width: 6em;
	}
}

@media (max-width: $mq-xl){
	.test-rating{
		font-size: 6em;
		bottom: -0.75em;
	}
	.tested-items h4{
		max-width: 5em;
	}
}

@media (max-width: $mq-l){
	.test-rating{
		font-size: 4.5em;
		bottom: -0.65em;
	}
	.grid .small, .grid .medium-wide, .grid .medium-tall{
		& .test-rating{
			font-size: 3.5em;
    	right: 0;
		}
	}
	.grid .large .test-rating{
		right: 0;
	}
}

.interview.teaser{
	padding: $extra-thick 5%;
	& h2{
    width: 80%;
    margin: 0 auto;
    font-size: 6em;
    line-height: 0.95;
  }
  & img{
    margin: 0;
    position: absolute;
    bottom: 0;
    right: -20%;
    width: 50%;
    height: auto;
  }
}

.challenge{
	text-align: center;
	padding: 0 $fairly-thick 1em;
	& h3{
		font-family: $heading-md;
		text-transform: none;
		margin-top: -0.5em;
		font-size: 2.5em;
	}
	& p{
		text-align: left;
		margin: 1.5em 0 2em;
	}
	& img{
		width: 250%;
		height: auto;
		display: block;
		margin-left: -150%;
	}
}

.league{
	& h4{
		font-size: 3.5em;
		font-family: $heading-md;
		line-height: 1;
		color: white;
		text-transform: uppercase;
	}
	& .text-overlay{
		position: absolute;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 100%;
    text-align: center;
	}
	& img{
		opacity: 0.5;
	}	
	& .button, input[type="button"]{
		color: white;
		font-size: 1em;
		padding: 0.6em 1.2em;
	}
}