.wrapper{
	
}

.centered{
  text-align: center;
}

.separator{
	margin: 1em 0;
  background-color: #B9C6CE;
  height:2px;
  width:2em;
}

/* Section headers
-----------------------------------*/
.section-header{
	padding: 1.5em 0 0.5em;
  text-align: center;
  text-transform: uppercase;
  & h2{
    margin: 0.5rem;
    color: $slate-lt;
    font-family: $heading-lt;
  }
  & .wrapper-dropdown-5{
    margin-bottom: 1.5em;
  }
}


.news, .videos, .nutritional-highlights {
  .section-header{
    padding: 1.5em 0 0;
  }
}


/* Circular elements
-----------------------------------*/
.dark{
  background-color: $slate-dk;
  & h2{
    color: $blue-grey;
  }
  & .button{
    color: $blue-grey;
  }
}


/* Circular elements
-----------------------------------*/
.circle{
  border-radius:50%;
  width: 15em;
  height: 15em;
  background-color: transparent;
}


/* Circular elements
-----------------------------------*/
.circle-list h2{
  font-size: 2.5em;
  text-transform: uppercase;
}

.circle-list h3{
  font-size: 1.7em;
  font-family: $heading-rg;
  letter-spacing: -1px;
  text-transform: uppercase;
  margin: -2px 0 0 0;
}

.circle-list .results h3{
  font-size: 2em;
}

.circle-list a, .category-title{
  font-family: $main-font-semi-bold;
  color: $blue-grey-lt;
  margin-top: 0.25em;
}

.circle-list .category-title{
  margin-top: -0.25em;
}


.cloud{
  background-color: $cloud;
}

/* Cookie warning
-----------------------------------*/
.cookies{
  display: none;
  position: absolute;
  top: 75%;
  padding: 5% 2em;
  background-color: $training;
  text-align: center;
  color: white;
  z-index: 1;
  & h3{
    color: white;
    line-height: 1;
  }
  & .button{
    color: white;
    margin: 0.5em 0;
  }
  & p{
    color: white;
    margin: 1.5em 0;
    line-height: 1.5;
    & a{
      display: inline-block;
      font-weight: bold;
    }
  }
}

/* Video with centered play button
-----------------------------------*/
.video-center{
  position: relative;
  margin-top: -1em; //To account for top padding, necessary for play-circle to be centered.
  padding: 1em 2.5%;
  & > div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  & .play-circle{
    @include play-circle-hover;
    display: block;
    margin: auto;
    height: 100%;
  }
}
