.topbar{
	height: $bar;
  background-color: white;
  border-bottom: 1px solid $cloud;
  overflow: hidden;
}

.topbar .icons{
  float:right;
  padding: ($bar / 4);
}

.topbar-icon{
  display: inline-block;
  margin-left: 0.25rem;
}

$topbar-icons: login, search, share, topbar-options;
@each $category in $topbar-icons{
  .topbar-icon.#{$category} {
    background: url("../img/#{$category}.png") no-repeat;
    width: $topbar-icon-size;
    height: ($topbar-icon-size); 
    background-size:100%;
  }
}

$category-icons: sports, nutrition, fashion, training, entertainment, interactive, directory, prime;
@each $category in $category-icons{
  .category-icon.#{$category} {
    display: block;
    margin: auto;
    background: url("../img/#{$category}.png") no-repeat;
    width: $category-icon-size;
    height: ($category-icon-size); 
    background-size:100%;
  }
  a.active .category-icon.#{$category} {
    background: url("../img/#{$category}-white.png") no-repeat;
    background-size:100%;
  }
}

.category-options a.active{
  background-color: $training !important;
  color: white;
  font-family: $heading-md;
}

.topbar .search.active ~ .search-bar{
  display: block;
}

.topbar.active .topbar-icon.topbar-options{
  background: url("../img/topbar-close.png") no-repeat;
  width: $topbar-icon-size;
  height: ($topbar-icon-size); 
  background-size:100%;
}

/*
@media (max-width: $mq-s){
  .topbar-icon, .topbar.active .topbar-icon.topbar-options{
    width: ($topbar-icon-size - 0.5rem) !important;
    height: ($topbar-icon-size - 0.5rem) !important;
  }
  .topbar-logo{
    height: ($topbar-icon-size - 0.5rem) !important;
    width: $topbar-icon-size !important;
    margin: 1.75rem 0 1.75rem 1rem !important;
  }
  .topbar .icons{
    padding: 1.75rem 0.75rem 1.75rem 0;
  }
}
*/

.topbar-logo{
  background: White url('../img/welcome_04.png') no-repeat;
  height: ($topbar-icon-size);
  width: ($topbar-icon-size + 0.5rem);
  background-size:100%;
  float: left;
  margin: ($bar / 4);
  margin-right: 0;
}


.topbar.active{
  position: relative;
  overflow: visible;
  & .toggle-arrow{
    background: url('../img/close-hover.svg') no-repeat 50%;
    background-size: 30%;
  }
}

.topbar-options.topbar-icon.active{
  background: url("../img/topbar-close.png") no-repeat;
  width: $topbar-icon-size;
  height: ($topbar-icon-size); 
  background-size:100%;
}

.topbar-options.active ~ .category-options{
  display: block;
}

.category-options{
  display: none;
  position: absolute;
  top: $bar;
  left: 0;
  background-color: transparent;
  width: 100%;
  z-index: 2;
  line-height: 1.8;
  text-align: center;
  font-family: $heading-bold;
  font-size: 1.5em;
  color: $blue-grey;
  text-transform: uppercase;
}

.category-options a{
  float: left;
  width: 50%;
  padding: 1em 0 0.5em;
  background-color: #ffffff;
  border-bottom: 1px solid $cloud;
  border-left: 1px solid $cloud;
  border-right: 1px solid $cloud;
}

.search-bar{
  display: none;
  position: absolute;
  top: $bar;
  left: 0;
  height: $bar;
  width: 100%;
  padding: 1rem 0;
  background-color: white;
  z-index: 1;
  & input[type="text"]{
    width: 70%;
    height: $bar - 2rem;
    margin-left: 15%;
    font-size: 1.6em;
    font-family: $main-font-lt;
    border: none;
    padding: 0;
  }
  & .search-button{
    position: absolute;
    top: 1rem;
    left: 6px;
    background: transparent url("../img/search-icon-grey.svg") no-repeat;
    background-size: auto 50%;
    background-position: 50% center;
    height: $bar - 2rem;
    width: 12%;
  }
  & .close{
    background: transparent url("../img/close-hover.svg") no-repeat;
    background-size: auto 40%;
    background-position: 50% center;
    height: $bar - 2rem;
    width: 12%;
  }
}

//Dropdown bar with share icons
.topbar .share.active ~ .share-bar{
  display: block;
}

.share-bar{
  display: none;
  position: absolute;
  left: 0;
  top: $bar;
  width: 100%;
  z-index: 1;
  height: $bar;
  padding: ($bar/4) 3%;
  background: White;
}

.share-bar .social-icons-sm a{
  margin: auto;
  display: block;
  height: ($bar / 2);
  ;
}

.share-bar .social-icons-sm > div{
  width: $sixth;
  display: inline-block;
}