.category-bar{
	position: relative;
	height: 6rem;
	background-color: $slate-dk;
	border-bottom: 1px solid $slate-lt;
	color: $blue-grey-lt;
	font-family: $main-font;
	font-size: 1.1em;
	line-height: 6rem;
	overflow: hidden;
	z-index: 1;
	& span{
		padding: 0 5%;
	}
}

.category-bar.active{
	overflow: visible;
	& .toggle-arrow{
		background: url('../img/close-hover.svg') no-repeat 50%;
		background-size: 30%;
	}
	& ul{
		display: block;
		border-bottom: 1px solid $slate-lt;
	}
	& li{
		border: none;
	}
}

.category-bar ul{
	display: none;
	position: relative;
	top: -6rem;
	width: 100%;
	& li{
		@extend .category-bar;
		padding: 0.1em 5%;
	}
}

.toggle-arrow{
  position: absolute;
  width: 3em;
  height: 6rem;
  top: 0;
  right: 2%;
  background: url("../img/arrow-down.svg") no-repeat 50%;
  background-size: 30%;
  cursor: pointer;
}