.value {
  position: absolute;
  top: 30px;
  left: 50%;
  margin: 0 0 0 -20px;
  width: 40px;
  text-align: center;
  display: block;
}

.ui-widget-content {
    background: $grey-lter;
}

.ui-slider-horizontal {
    height: 2px;
 
}
.ui-slider {
    position: relative;
    text-align: left;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 0;
    background: url("../img/wizard-active.svg") no-repeat scroll 50% 0%;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -15px;
    margin-left: -0.6em;
}
.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 25px;
    height: 30px;
    cursor: default;
}
/*
.price-range-both.value {
  width: 100px;
  margin: 0 0 0 -50px;
  top: 26px;
}

.price-range-both {
  display: none; 
}*/
#slider{
  font-family: $main-font-semi-bold;
}

.v-slider:before{
  content: url('../img/wizard-step.svg');
  position: relative;
  top:-14px;
  left:-15px;
  height: 0;
  float: left;
}

.v-slider:after{
  content: url('../img/wizard-step.svg');
  position: relative;
  top:-14px;
  right:-15px;
  height: 0;
  float: right;
}

.v-slider {
    margin: $thick 0 1.5em 0;
}

.v-slider > .ui-slider-handle {
    text-decoration: none;
    text-align: center;
}

.slider-value {
  position: relative;
  top: 27px;
  font-family: $main-font-semi-bold;
  font-size: 0.85em;
}

.v-slider label {
  font-family: $main-font;
  position: absolute;
  margin-top: -48px;
  left: -0.2em;
}

.min{
  float:left;
  margin-left: -0.2em;
  font-size: 0.9em;
  font-family: $main-font-semi-bold;
}

.max{
  float:right;
  margin-right: -0.2em;
  font-size: 0.9em;
  font-family: $main-font-semi-bold;
}

.slider-wrap{
  padding-top: 1em;
  padding-bottom: 2em;
}

.form-section .slider-wrap label{
  padding-top: 0;
}