.color{
	color: $main-color;
}

button.color{
  border-color: $main-color;
}

//Theme specific colours
$main-color-translucent: rgba($main-color, 0.1);
$main-color-lt: lighten($main-color, 20%);
$main-color-dk: darken($main-color, 10%);
$button-color: $main-color;
$button-dk: $main-color-dk;
$link-hover: $main-color-dk;


input.color-fill[type='button'], .button.color-fill, .button.right{
  border: 1px solid $button-color;
  background-color: $button-color;
  &:hover{
    background-color: $button-dk;
  }
}

//Articles
.article-details span{
	color: $main-color;
}

.comments span.user{
	color: $main-color;
}


//Training
.test-rating{
	color: $main-color;
}


//Contact etc.
.about-us .details h2{
	color: $main-color;
}


//Directory
.transformation.after{
	color: $main-color;
}

.result-header .distance{
  color: $main-color;
}

.quantity{
  color: $main-color;
}

//User profile
.profile .edit{
  color: $main-color;
}

.shady > div{
  background-color: rgba($link-hover, 0.5);
  z-index: 200;
}


/*-----------FORMS--------------
------------------------------*/

//Wizard select bar
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    color: $main-color;
}

//Slider
.slider-value {
  color: $main-color;
}