body,html {
  width:100%;
  max-width: 768px;
  margin:0;
  font-family: $main-font;
  font-size: 14px;
  line-height: 1.42857;
  color: $slate-dk;
  background-color: $clay-blue;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.wrapper{
	background-color:white;
  overflow: hidden;
}

img{
  width: 100%;
  height: auto;
}